extends layout

block content
  .row
    .large-12.columns
      p We could not process your request, but instead here is a picture Larry took of a squirrel on Berkeley's campus:
      a.th(href='http://www.flickr.com/photos/larryxu/10663743714')
        img(src='http://farm8.staticflickr.com/7328/10663743714_02e61a3034_h.jpg')
