extends layout

block content
  .row
    .large-8.large-centered.columns
      .row
        .large-6.columns
          .panel
            h4 Login
            form#login-form
              label(for='username') Username
              input#username(type='text', name='username')
              label(for='password') Password
              input#password(type='password', name='password')
              input.tiny.button(type='submit' value='Login')
            #result
        .large-6.columns.end
          h4 Need an account? Sign up here
          form#signup-form
            label(for='signup-username') Username
            input#signup-username(type='text', name='signup-username')
            label(for='email') Email
            input#email(type='text', name='email')
            label(for='signup-password') Password
            input#signup-password(type='password', name='signup-password')
            input.tiny.button(type='submit' value='Signup')
          #result